.label {
  color: white;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1.2rem;
}

.number {
  float: right;
  font-size: 1.5rem;
  color: hsl(172, 67%, 45%);
  align-self: flex-end;
}

.labelbottom {
  color: white;
  font-size: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1.2rem;
}

@media (min-width: 660px) {
  .labelbottom {
    margin-bottom: auto;
  }
}

.perperson {
  color: grey;
}
