.input {
  /* flex-basis: auto; */
  width: 30%;
  outline: none;
  border: none;
  background: hsl(189, 41%, 97%);
  border-radius: 5px;
  font-size: 0.75rem;
  text-align: right;
  font-weight: 700;
  flex: 1 2 30%;
  color: hsl(183, 100%, 15%);
  text-align: center;
}
